body {
    margin: 0;
    padding: 0;
    background-color: #000000;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
}
#phaser-game {
    max-width: 100%;
    max-height: 100vh;
}


#phaser-game canvas {
    border: 2px solid #fff;
    border-radius: 12px;
}